        div p{
            color:blue;
        }
        button:hover{
            color:brown;
            background-color: lightsalmon;
            box-shadow: 0px 0px 5px 2px lightcoral;
            font-size: 15px;
        }
        p:first-child{
            color:brown;
        }
        input:focus{
           background-color: paleturquoise;
           border: lightblue solid 2px;
           border-radius: 5px;
        }
        p:first-letter{
            font-size: 30px;
            color:crimson;
            box-shadow: 2px 2px 2px coral;
        }
        p:first-line{
            color:darkblue;
            font-size: 18px;
        }
        h1:before{
            content:"before heading";
            color:brown;
            font-size: 20px;
        }
        h1:after{
            content: "after heading";
            color:brown;
            font-size: 20px;
        }
        input[type="text"],input[type="email"]{
            background-color:lightcyan;
        }
        h1{
            color:brown;
        }
        h2{
            color:cornflowerblue;
        }