*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 1s;
    background: linear-gradient(-45deg, black, blue, skyblue);
    background-size: 400% 400%;
    animation: bgMove 10s infinite alternate;
    overflow: hidden;
}

@keyframes bgMove{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

.container{
    width: 500px;
    padding: 40px;
    text-align: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.265);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px cyan, 0 0 50px cyan;
}

.container:hover{
    transform:translate(-10px);
    box-shadow: 0 0 30px cyan, 0 0 70px cyan, 0 0 100px cyan;
}

h1{
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 0 20px cyan;
}
#clock{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan;
    animation: pluse 1s infinite alternate;
}

@keyframes pluse{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.03);
    }
}

#date{
    margin: 15px;
    font-size: 22px;
    color: #ddd;
}

.alarmBox{
    margin: 30px;
}

input{
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    transition: 0.4s;
}

input:focus{
    box-shadow: 0 0 20px cyan;
}

input[type="button"]{
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="button"]:hover{}